<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacemanager_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cor3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cor3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registo"/>
        <activity android:name=".IniciarSessao"/>
        <activity android:name=".PaginaInicial"/>
        <activity android:name=".Reserva"/>
        <activity android:name=".Pesquisa"/>
        <activity android:name=".Reuniao"/>
        <activity android:name=".Opcao"/>
        <activity android:name=".LugarObtido"/>
        <activity android:name=".ProlongarReserva"/>
        <activity android:name=".AsMinhasReservas"/>
        <activity android:name=".MapaSala"/>
        <activity android:name=".Horario"/>
        <activity android:name=".PessoaPesquisada"/>
        <activity android:name=".MapaSalaReuniao"/>
    </application>
</manifest>